<nav class="navbar">
	<ul class="nav nav-tabs">
	  	<li role="presentation" class="active"><a href="#">Home</a></li>
	  	<li role="presentation"><a href="/saved">Saved</a></li>
	</ul>

</nav>
<a href="/scrape"><button class="btn btn-success">Scrape Images</button></a> 

<section id="img"></section>

<section id="comment"></section>